<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196396931491-0n9v19u6dpdja02f1sjc07v3v8q77ugq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196396931491-0n9v19u6dpdja02f1sjc07v3v8q77ugq</string>
	<key>API_KEY</key>
	<string>AIzaSyCKZaz0RhbubOf17kuieW4pjt-C4QxQMjY</string>
	<key>GCM_SENDER_ID</key>
	<string>196396931491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseAuth.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebaseauthentic-f231b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebaseauthentic-f231b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196396931491:ios:df3b90cbeb787bae432216</string>
</dict>
</plist>